.binder-div{
    position: relative;
    float: left;
    padding: 10px;
    align-items: center;
}

.binder-rounded-corner
{
    border-radius: 10px;
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 25%;
    padding: 5px;
}

.domslogo{
    height: 300px;
    width: 100%;
}
.binder-background-details{
    background-color: whitesmoke;
    border-color: black;
    border-radius: 10px;
    width: 100%;
}
.binder-details{
    align-content: center;
}